@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@181.5,200..900&family=M+PLUS+Rounded+1c&family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #535C91;
}

.dev {
    color: red;
}

.nav a{
    margin-right: 100px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 5px;
    transition: all 0.3s ease;
}

.nav a:hover {
    cursor: pointer;
    background-color: rgba(0, 169, 255, 0.5);
    border-radius: 15px;
}

.container {
    width: 100%;
    height: 100vh;
}

.icons {
    display: none;
}

@media (max-width: 1024px){
    body {
        background-color: #fff;
    }

    .nav a {
        margin-right: 35px;
        font-size: 17px;
    }

    h2 {
        margin-left: -35px;
        margin-right: 10px;
        letter-spacing: 3px;
    }
}

@media (max-width: 834px){
    body {
        background-color: #fff;
    }

    .nav a {
        margin-right: 35px;
        font-size: 16px;
    }

    h2 {
        margin-left: -35px;
        margin-right: 10px;
        letter-spacing: 3px;
    }
}

@media (max-width: 768px){
    body {
        background-color: #fff; 
    }

    .nav a {
        margin-right: 10px;
        font-size: 15px;
    }

    h2 {
        margin-left: -35px;
        margin-right: 10px;
        letter-spacing: 3px;
    }
}

@media (max-width:525px) {
    body {
        background-color: #fff;
    }

    .nav a {
        font-size: 12px;
    }
}


@media (max-width:480px) {
    .nav {
        display: none;
    }

    body {
        background-color: white;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2 {
        text-align: left;
        font-size: 25px;
        margin-left: 0px;
    }

    .container {
        max-height: 68vh;
    }

    .icons {
        text-align: center;
        display: flex;
        justify-content: space-around;
        color: black;
    }

    .icons .icon i{
        color: #535C91;
        text-align: center;
        font-size: 25px;
    }

    footer {
        width: 100%;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
